<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container footer_bg">
            <div class="text-center">
                <div class="footer_bg_one"></div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Restons en contact</h3>
                            <label for="email">
                                <p>Ne vous perdez plus dans le permafrost, restez un petit mamoot malin avec nos actions
                                    et
                                    l'actualité digitale!</p>
                            </label>
                            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true"
                                _lpchecked="1">
                                <input type="text" name="EMAIL" class="form-control email" placeholder="Email">
                                <button class="btn btn_get btn_get_two" type="submit" id="email">Subscribe</button>
                                <p class="mchimp-errmessage" style="display: none;"></p>
                                <p class="mchimp-sucmessage" style="display: none;"></p>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Liens</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="/">Accueil</a></li>
                                <li><a href="/solutions">Nos solutions</a></li>
                                <li><a href="/valeurs">Nos valeurs</a></li>
                                <li><a href="/environnement">Mission: Planet X Mamoot</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Adresse</h3>
                            <ul class="list-unstyled f_list">
                                <li><a>Avenue des Sorbiers</a></li>
                                <li><a>1410 Waterloo</a></li>
                                <li><a>0486 260 685</a></li>
                                <li><a href="mailto:hello@mamoot.be?subject=feedback">hello@mamoot.be</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Follow4Follow</h3>

                            <head>
                            </head>
                            <div class="container">
                                <div class="center">
                                    <ul class="social-network social-circle">
                                        <li><a href="https://www.facebook.com/Mamoot-107491444619326"
                                                class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <!-- <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
                                        <li><a href="https://www.linkedin.com/company/mamoot" class="icoLinkedin"
                                                title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        <!-- <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-5 mb-0 pb-0">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">© Mamoot 2021</p>
                </div>
            </div>
        </div>
    </div>
</footer>