
<div class="container-fluid d-none d-lg-block">
  <div id="carouselExampleControls" class="carousel vert slide d-none d-lg-block" data-ride="carousel"
    data-interval="9000">
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="row no-gutters">
          <div class="col-6 my-auto">
            <div class="col-9 mx-auto">
              <h1 class="text-center" style="color:#ABDDDE;">NOS STANDARDS</h1>
              <h2 class="text-center">Chaque projet réalisé par Mamoot respecte ces points primoridaux
                à
                nos yeux
              </h2>
              <hr>
              <ul class=" list-group-flush text-center px-0 mx-0">
                <li class="list-group-item">Des délivrables mobiles <strong>responsives</strong></li>
                <li class="list-group-item">Des produits <strong>uniques et sur-mesures</strong>
                  répondant à vos besoins
                </li>
                <li class="list-group-item">Un service <strong>technique et créatif</strong> pour
                  sublimer votre
                  entreprise
                </li>
                <li class="list-group-item">Un code <strong>propre et maintenable</strong></li>
                <li class="list-group-item">Un véritable <strong>support technique</strong></li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="fullheight"
              style="background-image: url('assets/img/quality.jpg'); background-repeat: no-repeat; background-size: 100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="row no-gutters">
          <div class="col-6 my-auto">
            <div class="col-9 mx-auto">
              <h1 class="text-center valeur" style="color:#ABDDDE;">NOS VALEURS</h1>
              <h2 class="text-center">Nous analysons vos besoins et c'est en équipe que nous y
                répondons.</h2>
              <hr>
              <ul class=" list-group-flush text-left px-0 mx-0">
                <li>

                  Nous pensons<strong> ensemble </strong>votre stratégie, votre image, vos outils
                  digitaux.
                  Vous obtiendrez toujours de nous un service répondant à vos <strong>réels et
                    uniques
                    besoins</strong>.
                </li>
                <hr class="empty">

                <li>Nous
                  mettons un
                  point d'honneur sur <strong>une communication professionnelle simple &
                    amicale</strong>. Afin de cerner au mieux vos enjeux commerciaux. Le
                  résultat?
                  Le chemin le
                  plus court pour la réussite digitale.
                </li>
                <hr class="empty">
                <li> Nous essayons de <strong>limiter notre impact écologique.</strong> Il ne suffit
                  pas
                  de replanter des arbres
                  sans
                  réfléchir pour effacer notre empreinte écologique. Le digital pollue et nous
                  nous
                  sentons
                  concernés par notre environnement malmené. Nous vous invitons à prendre
                  connaissance
                  de
                  <a href="https://www.mamoot.be/environnement">notre
                    projet</a>.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="fullheight"
              style="background-image: url('assets/img/bras.png'); background-repeat: no-repeat; background-size: 100%;">
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row no-gutters">
          <div class="col-6 my-auto">
            <div class="fullheight">
              <div class="col-10 mx-auto">
                <h1 class="text-center methode" style="color:#ABDDDE;">NOTRE METHODE :</h1>
                <h2 class="text-center">Notre méthodologie est dite Agile. Elle se veut souple et
                  adaptée, et place les besoins du client au centre des priorités du projet.</h2>
                <hr>
                <ul class="text-left px-0 mx-0 my-0 py-0">

                  <h4> On peut en tirer quatres valeurs fondamentales:</h4>
                  <li><strong>L'équipe</strong>, soit des individus et des interactions plutôt que des
                    processus et des outils
                  </li>
                  <li><strong>L’application</strong>, des fonctionnalités opérationnelles plutôt que
                    de la documentation exhaustive
                  </li>
                  <li><strong>La collaboration</strong> avec le client plutôt que la
                    contractualisation des relations
                  </li>
                  <li><strong>L’acceptation</strong> du changement plutôt que le suivi d'un plan.


                  </li>
                </ul>

                <ul class="text-left px-0 mx-0 my-0 py-0">

                  <h4>De ces valeurs découlent 12 principes généraux. Bien qu'ils soient tous importants, voici une
                    selection :</h4>
                  <li><strong>Faire simple</strong></li>
                  <li><strong>Satisfaire</strong> le client en priorité</li>
                  <li>Accueillir favorablement <strong>les demandes de changement</strong></li>
                  <li><strong>Assurer une coopération permanente</strong> entre le client et l’équipe projet</li>
                  <li>Porter une attention continue à l’<strong>excellence technique et à la
                      conception</strong></li>
                  <li><strong>Ajuster à intervalles réguliers</strong> son comportement et ses
                    processus pour être plus efficace</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6">

            <div class="fullheight"
              style="background-image: url('/assets/img/methode.jpg'); background-repeat: no-repeat; background-size: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="row">
    <div class="col-2 text-center py-5" id="id_team" style="background-color: #B2C2D3;">
      <h2>Notre</h2>
      <div class="texte-team">TEAM</div>
      <hr>
    </div>
    <div class="col-2 text-center py-5" id="id_rob" style="background-color: #E6E7FA;">
      <h2>Robin</h2>
      <div class="texte-team">Developper Web</div>
      <hr>
    </div>
    <div class="col-2 text-center py-5" id="id_thom" style="background-color: #FFE5E4 ;">
      <h2>Thomas</h2>
      <div class="texte-team">Digital Marketer & Graphiste </div>
      <hr>
    </div>


    <div class="col-6 text-center py-5" style="background-color: #ffff ;">
      <a routerLinkActive="active" routerLink="/contact">
        <h4>Nous contacter ></h4>
      </a>
    </div>
  </div>
</div>

<div class="container d-lg-none mt-5 pt-2">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center" style="color:#ABDDDE;">NOS VALEURS</h1>
      <h2 class="text-center">Nous analysons vos besoins et c'est en équipe que nous y
        répondons.</h2>
      <hr>
      <ul class=" list-group-flush text-left px-0 mx-0">
        <li>

          Nous pensons<strong> ensemble </strong>votre stratégie, votre image, vos outils
          digitaux.
          Vous obtiendrez toujours de nous un service répondant à vos <strong>réels et
            uniques
            besoins</strong>.
        </li>
        <hr>

        <li>Nous
          mettons un
          point d'honneur sur <strong>une communication professionnelle simple &
            amicale</strong>. Afin de cerner au mieux vos enjeux commerciaux. Le
          résultat ?
          Le chemin le
          plus court pour la réussite digitale.
        </li>
        <hr>
        <li> Nous essayons de <strong>limiter notre impact écologique.</strong> Il ne suffit
          pas
          de replanter des arbres
          sans
          réfléchir pour effacer notre empreinte écologique. Le digital pollue et nous
          nous
          sentons
          concernés par notre environnement malmené. Nous vous invitons à prendre
          connaissance
          de
          <a href="https://www.mamoot.be/environnement">notre
            projet</a>.
        </li>
      </ul>
    </div>
    <img src="/assets/img/valeurs_mob.png" class="img-fluid mx-auto">
    <div class="col-12">
      <h1 class="text-center" style="color:#ABDDDE;">NOTRE METHODE</h1>
      <h2 class="text-center">Notre méthodologie est dite Agile. Elle se veut souple et
        adaptée, et place les besoins du client au centre des priorités du projet.</h2>
      <hr>
      <ul class="text-left px-0 mx-0 my-0 py-0">

        <h4> On peut en tirer quatres valeurs fondamentales:</h4>
        <li><strong>L'équipe</strong>, soit des individus et des interactions plutôt que des
          processus et des outils
        </li>
        <li><strong>L’application</strong>, des fonctionnalités opérationnelles plutôt que
          de la documentation exhaustive
        </li>
        <li><strong>La collaboration</strong> avec le client plutôt que la
          contractualisation des relations
        </li>
        <li><strong>L’acceptation</strong> du changement plutôt que le suivi d'un plan.


        </li>
      </ul>

      <ul class="text-left px-0 mx-0 my-0 py-0">

        <h4>De ces valeurs découlent 12 principes généraux. Bien qu'ils soient tous importants, voici une selection:
        </h4>
        <li><strong>Faire simple</strong></li>
        <li><strong>Satisfaire</strong> le client en priorité</li>
        <li>Accueillir favorablement <strong>les demandes de changement</strong></li>
        <li><strong>Assurer une coopération permanente</strong> entre le client et l’équipe projet</li>
        <li>Porter une attention continue à l’<strong>excellence technique et à la
            conception</strong></li>
        <li><strong>Ajuster à intervalles réguliers</strong> son comportement et ses
          processus pour être plus efficace</li>
      </ul>
    </div>
    <img src="/assets/img/methode_mob.png" class="img-fluid mx-auto">
    <div class="col-12">
      <h1 class="text-center" style="color:#ABDDDE;">NOS STANDARDS</h1>
      <h2 class="text-center">Chaque projet réalisé par Mamoot respecte ces points primoridaux
        à
        nos yeux
      </h2>
      <hr>
      <ul class=" list-group-flush text-center px-0 mx-0">
        <li class="list-group-item">Des délivrables mobile <strong>responsive</strong></li>
        <li class="list-group-item">Des produits <strong>uniques et sur-mesures</strong>
          répondant à vos besoins
        </li>
        <li class="list-group-item">Un service <strong>technique et créatif</strong> pour
          sublimer votre
          entreprise
        </li>
        <li class="list-group-item">Un code <strong>propre et maintenable</strong></li>
        <li class="list-group-item">Un véritable <strong>support technique</strong></li>
      </ul>
    </div>
    <img src="/assets/img/quality_mob.png" class="img-fluid mx-auto">
  </div>
  <a routerLink="/contact"><button type="button"
      class="col-10 col-md-6 btn btn-green rounded fixed-bottom d-lg-none mx-auto mb-3 fade">Contactez-nous
      et voyons ce que nous pouvons
      faire ensemble.</button></a>
</div>
