<div class="background">
    <header>Contactez-nous</header>
    <p>Des questions, un devis, une carte postale?</p>

    <div class="container">
        <div class="row">
            <div class="mx-auto mt-lg-5">
                <form id="form" class="topBefore" [formGroup]="form">

                    <small *ngIf="form.get('name').invalid && form.get('name').touched" class="text-danger">Un nom est
                        requis
                    </small>
                    <input [class.is-invalid]="form.get('name').invalid && form.get('name').touched"
                        [class.is-valid]="form.get('name').valid && form.get('name').touched" id="name"
                        class="text form-control" type="text" placeholder="NOM" formControlName="name" label="nom">


                    <small *ngIf="email.errors?.required && form.get('email').touched" class="text-danger">Une adresse
                        email
                        est requise</small>
                    <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email
                        address</small>

                    <input [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
                        [class.is-valid]="form.get('email').valid && form.get('email').touched" id="email"
                        class="text form-control" placeholder="E-MAIL" formControlName="email" label="email">

                        <small *ngIf="form.get('message').invalid && form.get('message').touched" class="text-danger">Un message est
                            requis
                        </small>
                    <textarea [class.is-invalid]="form.get('message').invalid && form.get('message').touched"
                        [class.is-valid]="form.get('message').valid && form.get('message').touched" id="message"
                        class="text form-control" type="text" placeholder="MESSAGE"
                        formControlName="message" label="message"></textarea>


                    <button id="submit" [ngClass]="{'disabled': formIsValid === false}" class="text form-control"
                        type="submit" value="GO!" (click)="register()">GO!</button>

                </form>
            </div>

        </div>
    </div>
</div>