

body {
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
  }
  
  .background{
    background-image:url('/assets/img/mail.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #E2F0FC;
    }
  
  p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    }
  
  header {
    position: relative;
    margin: 50px 0 25px 0;
    padding-top: 40px;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
    font-family: 'Bungee Shade', cursive;
    font-display: swap;
  
  }
  
  
  #form{
    width: 300px;
    margin: auto auto auto auto;
    padding-bottom: 60px;
  }
  
  @media screen and (min-width: 500px){
    #form {
      width: 470px;
      margin: auto auto auto auto;
      padding-bottom: 60px;
    }
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 300px;
    height: 50px;
    padding: 0px 15px 0px 15px;
  
    background: white;
    outline: none;
    color: #726659;
  
    border: solid 1px #000000;
    border-bottom: none;
  
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    font-display: swap;
  }
  
  @media screen and (min-width: 500px){
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    font-display: swap;
  
    background: white;
    outline: none;
    color: #726659;
  
    border: solid 1px #000000;
  
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  }
  
  
  input:hover {
    color: #b7e9e7;
  }
  
  textarea {
    width: 300px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
  
    background: white;
    outline: none;
  
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
  
    border: solid 1px #000000;
  
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    font-display: swap;
  }
  
  @media screen and (min-width: 500px){
  textarea {
    width: 470px;
    max-width: 470px;
    height: 610px !important;
    max-height : 610 px !important;
    padding: 15px;
    margin-bottom: 15px !important;
  
    background: white;
    outline: none;
  
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    font-display: swap;
  
    border: solid 1px #000000;
  
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  }
  
  textarea:hover {
    color: #e2dedb;
  }
  
  
  #submit {
    width: 300px;
  
    padding: 0;
    margin: -5px 0px 0px 0px;
  
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #000000;
  
    outline:none;
  
    border: solid 1px #000000;
  }
  
  @media screen and (min-width: 500px){
  #submit {
    width: 470px;
  
    padding: 0;
    margin: -5px 0px 0px 0px;
  
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #000000;
  
    outline:none;
  
    border: solid 1px #000000;
  }
  }
  
  #submit:hover {
    color: #ffffff;
    background:  #E2E9FC;;
  }
  
  
  
  .disabled{
    background-color: grey;
    cursor: not-allowed !important;
  }
  
  #submit:hover.disabled {
    border-color: black;
    background-color: grey;
    color: black;
    cursor: not-allowed !important;
  }
  
  #submit:focus.disabled {
    background-color: grey;
    color: black;
    cursor: not-allowed !important;
  }
  
  #name.text{
    color: #000000;
  }
  
  #email.text{
    color: #000000;
  }
  
  #message.text{
    color: #000000;
  }
  
  .text-danger{
    font-weight: bold;
  }
  
  