

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Pretty Stuff */
.contact-form-container {
  background: #F4F3F3;
  font-family: 'Quicksand', sans-serif;
  margin: 10% auto;
  margin-bottom: 6%;
  width: 100px;

}

.contact-us {
  position: relative;
  background-image: url('/assets/img/mail.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;

}

.contact-form{
  background-image: url('/assets/img/mail.jpg');
  background-size: cover;
}



.contact-header h1 {
  font-size: 1.5rem;
}


.header {
  text-align: center;
  padding: 20px 0;
  color: #444;
}
h1 {
  padding-top: 15px;
  font-weight: normal;
  font-family: 'Bungee Shade', cursive;
}
.header h2 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
}


.address, .email, .phone {
  text-align: center;
  padding: 40px 0;
  color: #444;
}
.address h3, .email h3, .phone h3 {
  font-size: 0.8rem;
  font-weight: 300;
}

form {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: white;


}
form input, form textarea {
  background: white;
  display: block;
  margin: 20px auto;
  width: 100%;
  border: 0;

}
form input {
  height: 40px;
  line-height: 40px;
  outline: 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.8);

}
form textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  color: rgba(68, 68, 68, 0.8);
    font-family: 'Quicksand', sans-serif;
}



/* Layout Stuff */

section {
  background-image: url("/assets/img/agency_bg2.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.img {
background-image:url('/assets/img/contact_bg.jpg');
background-repeat: no-repeat;
background-size:auto;




}

hr {
  border-top: 3px solid #ABDDDE;
  width: 50px;
}

p {
  font-family: 'Quicksand', sans-serif;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 23px;

}


.centerModal{
  position: fixed;
  width: 400px;
  left: calc( 50% - 200px);
  top: 30%;

}

a:link {
  color: #9AC6C9;
}
