
<section>
<div class="contact-form-container">
    <div class="contact-us">
      <div class="contact-header">
        <h1>
          &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;CONTACTEZ-NOUS
        </h1>
      </div>

    </div>
    <div class="header">
      <h1>
        En imposer ?
      </h1>
      <h2> Des questions, un devis, une carte postale ? </h2>
    </div>
    <div class="contact-form">
      <form>
        <input placeholder="Name" type="text" /><input placeholder="Email" type="email" /><textarea placeholder="Parlez-nous de votre projet..." rows="4"></textarea><button type="button" class="btn btn-green">
        ENVOYER</button>
      </form>
    </div>
    <div class="address">

      <h3>
        1410 Waterloo
      </h3>
      <h3>
        Avenue des Sorbiers
      </h3>
    </div>
    <div class="email">
      <h3>
        hello@mamoot.be
      </h3>
    </div>
  </div>
  <div class="img"> </div>

</section>








<!--

<div class="background">
    <header>Contactez-nous</header>
    <p>Des questions, un devis, une carte postale?</p>

    <div class="container">
        <div class="row">
            <div class="mx-auto mt-lg-5">
                <form id="form" class="topBefore" [formGroup]="form">

                    <small *ngIf="form.get('name').invalid && form.get('name').touched" class="text-danger">Un nom est
                        requis
                    </small>
                    <input [class.is-invalid]="form.get('name').invalid && form.get('name').touched"
                        [class.is-valid]="form.get('name').valid && form.get('name').touched" id="name"
                        class="text form-control" type="text" placeholder="NOM" formControlName="name" label="nom">


                    <small *ngIf="email.errors?.required && form.get('email').touched" class="text-danger">Une adresse
                        email
                        est requise</small>
                    <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email
                        address</small>

                    <input [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
                        [class.is-valid]="form.get('email').valid && form.get('email').touched" id="email"
                        class="text form-control" placeholder="E-MAIL" formControlName="email" label="email">

                        <small *ngIf="form.get('message').invalid && form.get('message').touched" class="text-danger">Un message est
                            requis
                        </small>
                    <textarea [class.is-invalid]="form.get('message').invalid && form.get('message').touched"
                        [class.is-valid]="form.get('message').valid && form.get('message').touched" id="message"
                        class="text form-control" type="text" placeholder="MESSAGE"
                        formControlName="message" label="message"></textarea>


                    <button id="submit" [ngClass]="{'disabled': formIsValid === false}" class="text form-control"
                        type="submit" value="GO!" (click)="register()">GO!</button>

                </form>
            </div>

        </div>
    </div>
</div>
-->
