@font-face {
  font-family: 'icomoon';
  src:  url('/assets/css/icon/fonts/icomoon.eot?vtg8ct');
  src:  url('/assets/css/icon/fonts/icomoon.eot?vtg8ct#iefix') format('embedded-opentype'),
    url('/assets/css/icon/fonts/icomoon.ttf?vtg8ct') format('truetype'),
    url('/assets/css/icon/fonts/icomoon.woff?vtg8ct') format('woff'),
    url('/assets/css/icon/fonts/icomoon.svg?vtg8ct#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lightbulb:before {
  content: "\e030";
}
.icon-tools:before {
  content: "\e033";
}
.icon-tools-2:before {
  content: "\e034";
}
.icon-lifesaver:before {
  content: "\e054";
}
