<section class="services" id="services">
    <div class="hidden">
        <div class="container">
            <h1><b>Découvrez nos</b> <strong> expertises </strong></h1>
            <hr>
            <h2 class="text-center">Notre agence répond à un besoin: développer vos idées!<br>Un partenaire axé
                savoir-faire, créativité & performance.</h2>
        </div>
    </div>
</section>
<div class="background">
    <div class="feat bg-gray pt-5 pb-5 noselect">
        <div class="hidden">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="item"> <span class="icon feature_box_col_six"><img src="assets/img/032-idea.png"
                                    alt="création d'image de marque et digitalisation"></span>
                            <h3>Renforcer ou revoir <strong>votre image</strong></h3>
                            <hr>
                            <p class="text-justify noselect">Nous créons ou modernisons l'image de votre entreprise.
                                Il est essentiel que vos clients puissent rapidement vous identifier.
                                Cela passe par une stratégie digitale efficace, par des outils digitaux ainsi que par
                                une charte graphique complète et cohérente.
                                Nous pensons à tout afin de véhiculer la meilleure image de votre entreprise.
                            </p>

                        </div>
                        <div class="col-lg-12 col-sm-12 px-0 mx-0">
                            <div class="item"> <span class="icon feature_box_col_six"><img
                                        src="assets/img/026-social-media.png"
                                        alt="gestion des réseaux sociaux par l'agence digitale mamoot à Waterloo"></span>
                                <h3>Nous animons vos <strong>réseaux sociaux</strong></h3>
                                <hr>
                                <p class="text-justify">Nous assurons votre présence sur les réseaux qui vous sont
                                    utiles,
                                    nous
                                    animons vos pages afin que
                                    vos potentiels clients soient toujours au courant de vos activités, de votre
                                    lifestyle.
                                    Nous
                                    pouvons simplement gêrer le contenu mais aussi la messagerie.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="item"> <span class="icon feature_box_col_four"><img
                                    src="assets/img/037-online-shopping.png"
                                    alt="création de site internet et application mobile à Waterloo par l'agence web Mamoot"></span>
                            <h3>Création de <strong>site web</strong></h3>
                            <hr>
                            <p class="text-justify">Nous nous occupons de créer pour vous votre site internet, en
                                répondant
                                à vos attentes et aux standards modernes. Nous travaillons avec les meilleures
                                technologies web du moment. Un site internet est devenu indispensable, exister sur
                                internet est exister
                                tout court.</p>
                        </div>
                        <a routerLink="/contact"><button type="button"
                                class="btn btn-green3 d-none d-lg-block">Contactez-nous et
                                voyons ce
                                que nous pouvons
                                faire <strong>d'imposant</strong> ensemble.</button></a>

                        <a routerLink="/contact"><button type="button"
                                class="col-10 col-md-6 btn btn-green rounded fixed-bottom d-lg-none mx-auto mb-3">Contactez-nous
                                et voyons ce que nous pouvons
                                faire ensemble.</button></a>

                        <div class="col-lg-12 col-sm-12 pt-5 px-0 mx-0">
                            <div class="item"> <span class="icon feature_box_col_five"><img
                                        src="assets/img/011-email-1.png"
                                        alt="création et graphisme par un graphiste à Waterloo"></span>

                                <h3><strong>Branding, mailings</strong> & <strong>création graphique</strong></h3>
                                <hr>
                                <p class="text-justify">Nous créons et donnons du sens à votre contenu. Conception UX &
                                    UI, créations de chartes graphiques, de logos, documents, de contenu marketing,
                                    mailings, graphisme, ... Nous mettons tout notre savoir-faire graphique à votre
                                    service!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="item"> <span class="icon feature_box_col_five"><img src="assets/img/004-search.png"
                                    alt="Mamoot améliore votre réfèrencement google  SEO et SEA"></span>
                            <h3><strong>Référencement</strong> de votre site</h3>
                            <hr>
                            <p class="text-justify">Nous analysons votre site et sa concurrence. Nous optimisons son
                                référencement (SEO & SEA) afin
                                que vos clients vous trouvent facilement via les moteurs de recherche. Nous vous
                                conseillons à court terme, mais aussi à long terme afin de rester en tête des
                                recherches. Votre projet vaut la peine d'être trouvé !</p>
                        </div>
                        <div class="col-lg-12 col-sm-12 mx-0 px-0">
                            <div class="item"> <span class="icon feature_box_col_four"><img
                                        src="assets/img/005-filter.png"
                                        alt="Mamoot développe votre système de gestion et client pour votre entreprise (ERP et CRM) "></span>
                                <h3>Création de <strong>systèmes ERP & CRM</strong></h3>
                                <hr>
                                <p class="text-justify">Nous nous occupons de vous fournir un système, performant et
                                    innovateur, automatisant votre gestion afin de vous simplifier la vie de tous les
                                    jours. Que ce soit en automatisant votre facturation, votre gestion de stock, votre
                                    gestion client, simplifier des réservations ou encore bien d'autres choses.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
