<section style="background-color:#98D755">
    <div class="container pt-5">
        <div class="text-center">
            <h1 class=col-md-6>Mission: <strong>Planète</strong> X <strong>Mamoot</strong></h1>
            <h2 class="col-md-6">
                <hr>Le digital et l’utilisation quotidienne des technologies sont de véritables sources polluantes.
                Bonne raison pour faire attention et limiter son impact environnemental au bureau.
                <br>A travers des petits gestes simples ou l’acquisition de nouveaux réflexes dans sa vie de tous les
                jours, chacun d’entre nous peut agir à son échelle et évoluer vers un comportement plus écoresponsable.
                <hr>
            </h2>

            <div class="row multi-columns-row text-center mx-auto">
                <div class="col-md-4 col-sm-12 col-xs-12 mx-">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="assets/img/063-leaf.png" alt="écologie chez Mamoot agence digitale à waterloo">
                        </div>
                        <h3 class="features-title font-alt">Fôrets durables et CO²</h3>
                        <p class="text-justify">En raison de leur construction et de leur fonctionnement, les appareils
                            et le stockage digital sont de véritables fléaux énergétiques. Ils rejettent d'énormes
                            quantités de gaz à effet de serre. C'est pourquoi nous soutenons un organisme réhabilitant
                            durablement nos forêts. La simple compensation n'est pas une solution, car ce processus est
                            plus destructeur que jamais.
                            <br><a href="https://ecotree.green/halte-a-la-compensation" target="_blank">Découvrez
                                OneTree et son dévouement pour nos forêts</a>. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 mx-auto">
                    <div class="features-item">
                        <div class="features-icon">  <img src="assets/img/021-battery-status.png" alt="recyclage et limitation de la consommation chez Mamoot agence digitale à waterloo"></div>
                        <h3 class="features-title font-alt">Consommation limitée</h3>
                        <p class="text-justify">

                            Nous conservons au maximum nos outils tels que nos ordinateurs, tablettes graphiques &
                            imprimantes.
                            C'est avec succès que nous mettons en déroute l'obsolescence programmée (et les accidents du
                            quotidien). Dans la mesure du possible, nous réparons avec des pièces de qualité provenant
                            d'appareils jetés à tort, le marché en est saturé.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 mx-auto">
                    <div class="features-item">
                        <div class="features-icon"><img src="assets/img/055-geography.png" alt="Planètes saine en limitant notre impact écologique"></div>
                        <h3 class="features-title font-alt">Citoyens</h3>
                        <p class="text-justify">Nous avons opté, comme beaucoup d'entre vous, pour de simples gestes au
                            quotidien: un halte-là aux plastiques, une alimentation réfléchie et locale, du bon café en
                            vrac grâce à nos amis de <a href="https://Labaiecoffee.com/" target="_blank">La Baie
                                Coffee</a>. Au revoir, les capsules polluantes pour le plus grand plaisir de nos
                            papilles. Nous limitons également l'usage des véhicules au bénéfice des transports en
                            commun. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
